<html lang="en">
  <!-- Header -->
  <%- include('layouts/header', { title: 'User Information' }); -%>
  <body>
    <!-- Navbar -->
    <%- include('layouts/navbar'); -%>

    <div class="user-data-main-div">
      <div class="user-data-inner-div container">
        <h2 class="user-div-header">User Information</h2>

        <div class="information-div">
          <p>
            <strong>Name :</strong> <%= user.firstName %> <%= user.lastName %>
          </p>
          <p><strong>Age :</strong> <%= user.age %></p>
          <p><strong>Date of Birth :</strong> <%= user.dob.toDateString() %></p>
          <p id="licence-number">
            <strong id="licence-number-strong">License Number :</strong> <%=
            user.licenseNumber %>
          </p>
        </div>

        <!-- Car Information -->

        <h2 class="user-div-header mt-5">Car Information</h2>
        <form action="/update_car_info" method="POST">
          <table class="form-group">
            <tr class="table-tr">
              <td>
                <label for="make">Car Make</label>
              </td>
              <td class="collon-td">:</td>
              <td>
                <input
                  type="text"
                  name="make"
                  value="<%= user.car_details.make %>"
                />
              </td>
            </tr>
          </table>
          <table class="form-group">
            <tr class="table-tr">
              <td>
                <label for="model">Car Model</label>
              </td>
              <td class="collon-td">:</td>
              <td>
                <input
                  type="text"
                  name="model"
                  value="<%= user.car_details.model %>"
                />
              </td>
            </tr>
          </table>
          <table class="form-group">
            <tr class="table-tr">
              <td>
                <label for="year">Year</label>
              </td>
              <td class="collon-td">:</td>
              <td>
                <input
                  type="text"
                  name="year"
                  value="<%= user.car_details.year %>"
                />
              </td>
            </tr>
          </table>
          <table class="form-group">
            <tr class="table-tr">
              <td>
                <label for="plateNumber">Plate Number</label>
              </td>
              <td class="collon-td">:</td>
              <td>
                <input
                  type="text"
                  name="plateNumber"
                  value="<%= user.car_details.plateNumber %>"
                />
              </td>
            </tr>
          </table>

          <input
            type="hidden"
            name="licenseNumber"
            value="<%= user.licenseNumber %>"
          />
          <button type="submit" class="button mt-4">Update Car Info</button>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
  </body>
</html>
