<html lang="en">
  <!-- Header -->
  <%- include('layouts/header', { title: 'User Information' }); -%>
  <body>
    <!-- Navbar -->
    <%- include('layouts/navbar'); -%>

    <div class="user-data-main-div">
      <div class="user-data-inner-div container">
        <h2 class="user-div-header">User Information</h2>

        <div class="information-div">
          <p>
            <strong>Name:</strong> <%= user.firstName %> <%= user.lastName %>
          </p>
          <p><strong>Age:</strong> <%= user.age %></p>
          <p><strong>Date of Birth:</strong> <%= user.dob.toDateString() %></p>
          <p id="licence-number">
            <strong id="licence-number-strong">License Number:</strong> <%=
            user.licenseNumber %>
          </p>
        </div>

        <!-- Car Information-->

        <h2 class="user-div-header">Car Information</h2>

        <div class="information-div">
          <p><strong>Car Make:</strong> <%= user.car_details.make %></p>
          <p><strong>Car Model:</strong> <%= user.car_details.model %></p>
          <p><strong>Build Year:</strong> <%= user.car_details.year %></p>
          <p>
            <strong>Number Plate:</strong> <%= user.car_details.plateNumber %>
          </p>
        </div>

        <div class="button-div">
          <a href="/update_user/<%= user.licenseNumber %>">Update User</a>
          <span class="button-div-padding"></span>
          <a id="delete-user-btn">Delete User</a>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("delete-user-btn")
        .addEventListener("click", function () {
          const licenseNumber = "<%= user.licenseNumber %>";
          const confirmed = confirm(
            "Are you sure you want to delete this user?"
          );

          if (confirmed) {
            fetch(`/delete_user/${licenseNumber}`, {
              method: "DELETE",
            })
              .then((response) => {
                if (response.ok) {
                  alert("User deleted successfully.");
                  window.location.href = "/";
                } else {
                  alert("Error deleting user. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred. Please try again.");
              });
          }
        });
    </script>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
  </body>
</html>
