<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('./layouts/header'); -%>
  <body>
    <!-- Navbar -->
    <%- include('./layouts/navbar'); -%>

    <!-- Main Content -->

    <div class="main-div">
      <!-- Hero Section -->
      <section class="hero">
        <div class="hero-bg"></div>
        <div class="overlay">
          <% if (loggedIn && userType === 'Driver') { %>
          <h1>Hello <%= username %></h1>
          <h1>Welcome to Your Driving Test Portal!</h1>
          <h3>Book your G and G2 driving tests easily.</h3>
          <% } %> <% if (loggedIn && userType === 'Admin') { %>
          <h1 style="font-size: 40px">Hello Admin <%= username %></h1>
          <h1>Welcome to Your Admin Portal!</h1>
          <h3>Manage your users and test schedules.</h3>
          <% } %> <% if (!loggedIn) { %>
          <h1>Welcome to the Driving Test Portal</h1>
          <h3>Login or Register to book and manage driving tests</h3>
          <a href="/login" class="started-button">Get Started</a>
          <% } %>
        </div>
      </section>
      <div class="dashboard-main-div">
        <!-- Key Features Section -->
        <section class="features text-center my-3">
          <div class="container dashboard-card-div">
            <h1>Key Features</h1>
            <div class="dashboard-main-card-div">
              <div class="dashboard-card">
                <img
                  src="/images/booking-icon.jpg"
                  alt="Easy Booking"
                  class="dashboard-image-style"
                />
                <h3>Easy Booking</h3>
                <p>Schedule your test at your convenience.</p>
              </div>
              <div class="dashboard-card">
                <img
                  src="/images/user-friendly-icon.jpg"
                  alt="User-Friendly"
                  class="dashboard-image-style"
                />
                <h3>User-Friendly Interface</h3>
                <p>Navigate through our intuitive platform effortlessly.</p>
              </div>
              <div class="dashboard-card">
                <img
                  src="/images/confirmation-icon.jpg"
                  alt="Instant Confirmation"
                  class="dashboard-image-style"
                />
                <h3>Instant Confirmation</h3>
                <p>Receive instant confirmation of your booking.</p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Testimonials Section -->
      <section class="testimonials text-center">
        <div class="container testimonials-container">
          <h1>What Our Users Say</h1>
          <div class="testimonial-carousel">
            <p>"The booking process was a breeze!" – Jane D.</p>
            <p>
              "I got my G2 license easily, thanks to this portal!" – Mark T.
            </p>
          </div>
        </div>
      </section>

      <!-- Call to Action -->
      <% if (loggedIn && userType === 'Driver') { %>
      <section class="call-to-action text-center">
        <h2 class="mb-5">Ready to book your test?</h2>
        <% if (loggedIn) { %>
        <a href="/g2" class="button">Book Now</a>
        <% } else { %>
        <a href="/login" class="button">Book Now</a>
        <% } %>
      </section>
      <% } %>
    </div>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
  </body>
</html>
